In [2]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# MLB

In [5]:
# Use the read_html function in Pandas to automatically scrape any tabular data from a page.
MLBdata_url = "https://www.spotrac.com/mlb/disabled-list/"

#using the pandas .read_html() method, we can convert the html tables found the page to pandas dataframes.
# Note the result of the .read_html() method is a list of dataframes pulled from the page.. In this case there is only one table
url_tables = pd.read_html(MLBdata_url, encoding= "utf-8")

# Reference the first element of our list of dataframes
MLB_df = url_tables[3][['Player (217)', 'Pos.', 'Team', 'Injury', 'Status', 'Dates', 'Days']]

In [4]:
url_tables

[                     Team  Players   Days $ Spent on DL Players  Unnamed: 4  \
 0           New York Mets        8    437           $20,152,817         NaN
 1        New York Yankees       14    789           $19,042,570         NaN
 2          Boston Red Sox        8    321           $14,328,683         NaN
 3       Baltimore Orioles        7    283           $11,834,459         NaN
 4    San Francisco Giants        4    167           $10,610,995         NaN
 5   Philadelphia Phillies        8    376           $10,501,242         NaN
 6        Seattle Mariners       10    452           $10,189,985         NaN
 7         Cincinnati Reds        2    184            $9,608,112         NaN
 8       Cleveland Indians        7    327            $9,132,453         NaN
 9      Los Angeles Angels        7    389            $8,367,822         NaN
 10         Houston Astros        5    338            $7,410,052         NaN
 11   Washington Nationals        6    316            $7,092,389         NaN
 12         Atlanta Braves        3    153            $6,488,985         NaN
 13       San Diego Padres       10    798            $6,318,308         NaN
 14   Arizona Diamondbacks        8    403            $6,175,776         NaN
 15     Pittsburgh Pirates       11    596            $5,908,429         NaN
 16         Detroit Tigers        7    341            $5,811,792         NaN
 17      Toronto Blue Jays       11    588            $5,734,749         NaN
 18           Chicago Cubs        6    299            $5,705,693         NaN
 19     Kansas City Royals        4    285            $5,644,473         NaN
 20    St. Louis Cardinals        6    294            $5,616,736         NaN
 21      Oakland Athletics        7    465            $4,491,614         NaN
 22      Milwaukee Brewers        5    329            $4,221,251         NaN
 23      Chicago White Sox        8    288            $3,712,690         NaN
 24    Los Angeles Dodgers        7    209            $2,998,246         NaN
 25          Miami Marlins       10    338            $2,386,545         NaN
 26         Tampa Bay Rays        9    403            $2,257,449         NaN
 27          Texas Rangers        9    519            $2,204,523         NaN
 28       Colorado Rockies        5    123            $1,179,734         NaN
 29        Minnesota Twins        5     87              $919,262         NaN
 30                    NaN      217  10897          $216,047,834         NaN

     Unnamed: 5  Unnamed: 6    Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
 0          NaN         NaN           NaN         NaN         NaN          NaN
 1          NaN         NaN           NaN         NaN         NaN          NaN
 2          NaN         NaN           NaN         NaN         NaN          NaN
 3          NaN         NaN           NaN         NaN         NaN          NaN
 4          NaN         NaN           NaN         NaN         NaN          NaN
 5          NaN         NaN           NaN         NaN         NaN          NaN
 6          NaN         NaN           NaN         NaN         NaN          NaN
 7          NaN         NaN           NaN         NaN         NaN          NaN
 8          NaN         NaN           NaN         NaN         NaN          NaN
 9          NaN         NaN           NaN         NaN         NaN          NaN
 10         NaN         NaN           NaN         NaN         NaN          NaN
 11         NaN         NaN           NaN         NaN         NaN          NaN
 12         NaN         NaN           NaN         NaN         NaN          NaN
 13         NaN         NaN           NaN         NaN         NaN          NaN
 14         NaN         NaN           NaN         NaN         NaN          NaN
 15         NaN         NaN           NaN         NaN         NaN          NaN
 16         NaN         NaN           NaN         NaN         NaN          NaN
 17         NaN         NaN           NaN         NaN         NaN          NaN
 18         NaN         NaN           NaN         NaN         NaN          NaN
 19         NaN         NaN           NaN         NaN         NaN          NaN
 20         NaN         NaN           NaN         NaN         NaN          NaN
 21         NaN         NaN           NaN         NaN         NaN          NaN
 22         NaN         NaN           NaN         NaN         NaN          NaN
 23         NaN         NaN           NaN         NaN         NaN          NaN
 24         NaN         NaN           NaN         NaN         NaN          NaN
 25         NaN         NaN           NaN         NaN         NaN          NaN
 26         NaN         NaN           NaN         NaN         NaN          NaN
 27         NaN         NaN           NaN         NaN         NaN          NaN
 28         NaN         NaN           NaN         NaN         NaN          NaN
 29         NaN         NaN           NaN         NaN         NaN          NaN
 30       217.0     10897.0  $216,047,834         NaN       217.0      10897.0

      Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2            NaN          NaN          NaN          NaN          NaN
 3            NaN          NaN          NaN          NaN          NaN
 4            NaN          NaN          NaN          NaN          NaN
 5            NaN          NaN          NaN          NaN          NaN
 6            NaN          NaN          NaN          NaN          NaN
 7            NaN          NaN          NaN          NaN          NaN
 8            NaN          NaN          NaN          NaN          NaN
 9            NaN          NaN          NaN          NaN          NaN
 10           NaN          NaN          NaN          NaN          NaN
 11           NaN          NaN          NaN          NaN          NaN
 12           NaN          NaN          NaN          NaN          NaN
 13           NaN          NaN          NaN          NaN          NaN
 14           NaN          NaN          NaN          NaN          NaN
 15           NaN          NaN          NaN          NaN          NaN
 16           NaN          NaN          NaN          NaN          NaN
 17           NaN          NaN          NaN          NaN          NaN
 18           NaN          NaN          NaN          NaN          NaN
 19           NaN          NaN          NaN          NaN          NaN
 20           NaN          NaN          NaN          NaN          NaN
 21           NaN          NaN          NaN          NaN          NaN
 22           NaN          NaN          NaN          NaN          NaN
 23           NaN          NaN          NaN          NaN          NaN
 24           NaN          NaN          NaN          NaN          NaN
 25           NaN          NaN          NaN          NaN          NaN
 26           NaN          NaN          NaN          NaN          NaN
 27           NaN          NaN          NaN          NaN          NaN
 28           NaN          NaN          NaN          NaN          NaN
 29           NaN          NaN          NaN          NaN          NaN
 30  $216,047,834          NaN          NaN          NaN          NaN

     Unnamed: 16  Unnamed: 17  Unnamed: 18   Unnamed: 19
 0           NaN          NaN          NaN           NaN
 1           NaN          NaN          NaN           NaN
 2           NaN          NaN          NaN           NaN
 3           NaN          NaN          NaN           NaN
 4           NaN          NaN          NaN           NaN
 5           NaN          NaN          NaN           NaN
 6           NaN          NaN          NaN           NaN
 7           NaN          NaN          NaN           NaN
 8           NaN          NaN          NaN           NaN
 9           NaN          NaN          NaN           NaN
 10          NaN          NaN          NaN           NaN
 11          NaN          NaN          NaN           NaN
 12          NaN          NaN          NaN           NaN
 13          NaN          NaN          NaN           NaN
 14          NaN          NaN          NaN           NaN
 15          NaN          NaN          NaN           NaN
 16          NaN          NaN          NaN           NaN
 17          NaN          NaN          NaN           NaN
 18          NaN          NaN          NaN           NaN
 19          NaN          NaN          NaN           NaN
 20          NaN          NaN          NaN           NaN
 21          NaN          NaN          NaN           NaN
 22          NaN          NaN          NaN           NaN
 23          NaN          NaN          NaN           NaN
 24          NaN          NaN          NaN           NaN
 25          NaN          NaN          NaN           NaN
 26          NaN          NaN          NaN           NaN
 27          NaN          NaN          NaN           NaN
 28          NaN          NaN          NaN           NaN
 29          NaN          NaN          NaN           NaN
 30          NaN          NaN      10897.0  $216,047,834  ,
               Reason  Players   Days Cash EarnedWhile on DL  Unnamed: 4  \
 0   Elbow Tommy John       23   2116            $31,191,312         NaN
 1              Elbow       36   2081            $29,850,232         NaN
 2           Shoulder       35   1391            $26,006,520         NaN
 3                Arm       20   1000            $22,555,118         NaN
 4               Knee       12    757            $21,098,569         NaN
 5               Foot        5    283            $18,646,181         NaN
 6               Heel        1     92            $14,344,088         NaN
 7               Back       15    457            $13,445,475         NaN
 8           Knee ACL        4    276             $6,803,064         NaN
 9              Groin        5    236             $5,270,386         NaN
 10         Hamstring       11    251             $5,100,543         NaN
 11             Wrist        4    230             $4,518,722         NaN
 12              Quad        5    181             $2,843,058         NaN
 13             Ankle        4     72             $2,768,438         NaN
 14        Concussion        4    169             $2,450,579         NaN
 15              Calf        5    177             $1,730,797         NaN
 16            Finger        3    132             $1,481,218         NaN
 17           Illness        1     23             $1,205,637         NaN
 18              Ribs        2     78               $949,692         NaN
 19           Oblique        5    141               $839,377         NaN
 20               Hip        4    169               $738,368         NaN
 21         Abdominal        2     30               $338,710         NaN
 22            Biceps        2    103               $307,473         NaN
 23              Hand        2    101               $302,230         NaN
 24          Achilles        1     92               $281,244         NaN
 25          Face Jaw        1     92               $274,528         NaN
 26             Thumb        1      8               $215,056         NaN
 27        Collarbone        1     69               $214,038         NaN
 28              Neck        1     37               $119,029         NaN
 29          Pectoral        1     30                $89,520         NaN
 30           Stomach        1     23                $68,632         NaN
 31               NaN      217  10897           $216,047,834         NaN

     Unnamed: 5  Unnamed: 6    Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
 0          NaN         NaN           NaN         NaN         NaN          NaN
 1          NaN         NaN           NaN         NaN         NaN          NaN
 2          NaN         NaN           NaN         NaN         NaN          NaN
 3          NaN         NaN           NaN         NaN         NaN          NaN
 4          NaN         NaN           NaN         NaN         NaN          NaN
 5          NaN         NaN           NaN         NaN         NaN          NaN
 6          NaN         NaN           NaN         NaN         NaN          NaN
 7          NaN         NaN           NaN         NaN         NaN          NaN
 8          NaN         NaN           NaN         NaN         NaN          NaN
 9          NaN         NaN           NaN         NaN         NaN          NaN
 10         NaN         NaN           NaN         NaN         NaN          NaN
 11         NaN         NaN           NaN         NaN         NaN          NaN
 12         NaN         NaN           NaN         NaN         NaN          NaN
 13         NaN         NaN           NaN         NaN         NaN          NaN
 14         NaN         NaN           NaN         NaN         NaN          NaN
 15         NaN         NaN           NaN         NaN         NaN          NaN
 16         NaN         NaN           NaN         NaN         NaN          NaN
 17         NaN         NaN           NaN         NaN         NaN          NaN
 18         NaN         NaN           NaN         NaN         NaN          NaN
 19         NaN         NaN           NaN         NaN         NaN          NaN
 20         NaN         NaN           NaN         NaN         NaN          NaN
 21         NaN         NaN           NaN         NaN         NaN          NaN
 22         NaN         NaN           NaN         NaN         NaN          NaN
 23         NaN         NaN           NaN         NaN         NaN          NaN
 24         NaN         NaN           NaN         NaN         NaN          NaN
 25         NaN         NaN           NaN         NaN         NaN          NaN
 26         NaN         NaN           NaN         NaN         NaN          NaN
 27         NaN         NaN           NaN         NaN         NaN          NaN
 28         NaN         NaN           NaN         NaN         NaN          NaN
 29         NaN         NaN           NaN         NaN         NaN          NaN
 30         NaN         NaN           NaN         NaN         NaN          NaN
 31       217.0     10897.0  $216,047,834         NaN       217.0      10897.0

      Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2            NaN          NaN          NaN          NaN          NaN
 3            NaN          NaN          NaN          NaN          NaN
 4            NaN          NaN          NaN          NaN          NaN
 5            NaN          NaN          NaN          NaN          NaN
 6            NaN          NaN          NaN          NaN          NaN
 7            NaN          NaN          NaN          NaN          NaN
 8            NaN          NaN          NaN          NaN          NaN
 9            NaN          NaN          NaN          NaN          NaN
 10           NaN          NaN          NaN          NaN          NaN
 11           NaN          NaN          NaN          NaN          NaN
 12           NaN          NaN          NaN          NaN          NaN
 13           NaN          NaN          NaN          NaN          NaN
 14           NaN          NaN          NaN          NaN          NaN
 15           NaN          NaN          NaN          NaN          NaN
 16           NaN          NaN          NaN          NaN          NaN
 17           NaN          NaN          NaN          NaN          NaN
 18           NaN          NaN          NaN          NaN          NaN
 19           NaN          NaN          NaN          NaN          NaN
 20           NaN          NaN          NaN          NaN          NaN
 21           NaN          NaN          NaN          NaN          NaN
 22           NaN          NaN          NaN          NaN          NaN
 23           NaN          NaN          NaN          NaN          NaN
 24           NaN          NaN          NaN          NaN          NaN
 25           NaN          NaN          NaN          NaN          NaN
 26           NaN          NaN          NaN          NaN          NaN
 27           NaN          NaN          NaN          NaN          NaN
 28           NaN          NaN          NaN          NaN          NaN
 29           NaN          NaN          NaN          NaN          NaN
 30           NaN          NaN          NaN          NaN          NaN
 31  $216,047,834          NaN          NaN          NaN          NaN

     Unnamed: 16  Unnamed: 17  Unnamed: 18   Unnamed: 19
 0           NaN          NaN          NaN           NaN
 1           NaN          NaN          NaN           NaN
 2           NaN          NaN          NaN           NaN
 3           NaN          NaN          NaN           NaN
 4           NaN          NaN          NaN           NaN
 5           NaN          NaN          NaN           NaN
 6           NaN          NaN          NaN           NaN
 7           NaN          NaN          NaN           NaN
 8           NaN          NaN          NaN           NaN
 9           NaN          NaN          NaN           NaN
 10          NaN          NaN          NaN           NaN
 11          NaN          NaN          NaN           NaN
 12          NaN          NaN          NaN           NaN
 13          NaN          NaN          NaN           NaN
 14          NaN          NaN          NaN           NaN
 15          NaN          NaN          NaN           NaN
 16          NaN          NaN          NaN           NaN
 17          NaN          NaN          NaN           NaN
 18          NaN          NaN          NaN           NaN
 19          NaN          NaN          NaN           NaN
 20          NaN          NaN          NaN           NaN
 21          NaN          NaN          NaN           NaN
 22          NaN          NaN          NaN           NaN
 23          NaN          NaN          NaN           NaN
 24          NaN          NaN          NaN           NaN
 25          NaN          NaN          NaN           NaN
 26          NaN          NaN          NaN           NaN
 27          NaN          NaN          NaN           NaN
 28          NaN          NaN          NaN           NaN
 29          NaN          NaN          NaN           NaN
 30          NaN          NaN          NaN           NaN
 31          NaN          NaN      10897.0  $216,047,834  ,
              Position  Players   Days Cash EarnedWhile on DL  Unnamed: 4  \
 0    Starting Pitcher       58   3470            $68,926,676         NaN
 1      Relief Pitcher       74   3912            $57,387,003         NaN
 2            2nd Base        9    588            $16,121,028         NaN
 3          Left Field        3    138            $15,035,140         NaN
 4        Center Field       11    612            $13,284,022         NaN
 5            1st Base        7    238             $8,891,846         NaN
 6             Catcher       13    396             $8,777,466         NaN
 7   Designated Hitter        3    109             $7,924,762         NaN
 8           Shortstop       14    358             $6,376,589         NaN
 9            3rd Base        8    262             $6,356,842         NaN
 10        Right Field        9    403             $5,737,849         NaN
 11        Outfielders        4    287               $858,595         NaN
 12           Pitchers        4    124               $370,016         NaN
 13                NaN      217  10897           $216,047,834         NaN

     Unnamed: 5  Unnamed: 6    Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
 0          NaN         NaN           NaN         NaN         NaN          NaN
 1          NaN         NaN           NaN         NaN         NaN          NaN
 2          NaN         NaN           NaN         NaN         NaN          NaN
 3          NaN         NaN           NaN         NaN         NaN          NaN
 4          NaN         NaN           NaN         NaN         NaN          NaN
 5          NaN         NaN           NaN         NaN         NaN          NaN

In [6]:
MLB_df.head()

                Player (217) Pos. Team    Injury  Status   Dates  Days
0  Willians Astudillo C, MIN    C  MIN   Oblique  10-day  6/27 -     1
1        Josh Rogers SP, BAL   SP  BAL     Elbow  10-day  6/26 -     2
2       Tim Anderson SS, CHW   SS  CHW     Ankle  10-day  6/26 -     2
3  Giancarlo Stanton DH, NYY   DH  NYY      Knee  10-day  6/26 -     2
4    Brendan Rodgers SS, COL   SS  COL  Shoulder  10-day  6/25 -     3

In [7]:
# use a join

In [8]:
MLB_df.to_csv('../DataFrames/MLB_injuries.csv')

In [10]:
pd.read_csv('../DataFrames/MLB_injuries.csv').head()

,Unnamed: 0,Player (216),Pos.,Team,Injury,Status,Dates,Days
0,0,"Josh Rogers SP, BAL",SP,BAL,Elbow,10-day,6/26 -,2
1,1,"Tim Anderson SS, CHW",SS,CHW,Ankle,10-day,6/26 -,2
2,2,"Giancarlo Stanton DH, NYY",DH,NYY,Knee,10-day,6/26 -,2
3,3,"Brendan Rodgers SS, COL",SS,COL,Shoulder,10-day,6/25 -,3
4,4,"Jordan Hicks RP, STL",RP,STL,Elbow,10-day,6/25 -,3

In [ ]:
url_tables

In [ ]:
https://www.espn.com/nba/stats/player

In [13]:
# Use the read_html function in Pandas to automatically scrape any tabular data from a page.
data_url = "https://www.espn.com/nba/stats/player"

#using the pandas .read_html() method, we can convert the html tables found the page to pandas dataframes.
# Note the result of the .read_html() method is a list of dataframes pulled from the page
url_tables = pd.read_html(data_url, encoding= "utf-8")

# Reference the first element of our list of dataframes
# player_df = url_tables[3][['Player (536)', 'Pos', 'Team', 'Reasons', 'Weeks']]

# player_df.head()
url_tables[2].head()

,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068,Unnamed: 1069,Unnamed: 1070,Unnamed: 1071
0,POSGPMINPTSFGMFGAFG%3PM3PA3P%FTMFTAFT%REBASTST...,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,3.9,63.6,12.7,1.4,0.7,1.5,1.4,45.0,0.0,23.84
1,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PG,78,36.8,36.1,10.8,24.5,44.2,4.8,13.2,36.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SG,77,36.9,28.0,9.2,21.0,43.8,3.8,9.8,38.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PF,72,32.8,27.7,10.0,17.3,57.8,0.7,2.8,25.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_header = player_df.iloc[0] #grab the first row for the header
player_df = player_df[1:] #take the data less the header row
player_df.columns = new_header #set the header row as the df header

In [ ]:
url_tables[3]

In [10]:
# URL of page to be scraped
url = 'https://stats.nba.com/players/bio/?Season=2018-19&SeasonType=Regular%20Season'

# using the .visit() method tell the browser to visit the url
browser.visit(url)

#obtain the page html using the .html attribute of the browser object
html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

soup.table

data_df = pd.read_html(str(soup.table))[0]

In [ ]:
print(table.html)

In [ ]:
type(soup.table)

In [7]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd




executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)


# URL of page to be scraped
url = 'https://stats.nba.com/players/bio/?Season=2018-19&SeasonType=Regular%20Season'

# using the .visit() method tell the browser to visit the url
browser.visit(url)

#obtain the page html using the .html attribute of the browser object
html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

soup.table

data_df = pd.read_html(str(soup.table))[0]

In [9]:
data_df.to_csv('../DataFrames/NBA_Bio.csv')

# NHL Player Bio Data (Fox Website) Scrape

In [41]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd


# Use the read_html function in Pandas to automatically scrape any tabular data from a page.
data_url = "https://www.foxsports.com/nhl/players?teamId=0&season=2018&position=0&page=1&country=0&grouping=0&weightclass=0"

#using the pandas .read_html() method, we can convert the html tables found the page to pandas dataframes.
# Note the result of the .read_html() method is a list of dataframes pulled from the page
url_tables = pd.read_html(data_url, encoding= "utf-8")

# Reference the first element of our list of dataframes
NHL_Bio_df = url_tables[0]


executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)


# URL of page to be scraped
url = 'https://www.foxsports.com/nhl/players?teamId=0&season=2018&position=0&page=2&country=0&grouping=0&weightclass=0'

# using the .visit() method tell the browser to visit the url
browser.visit(url)
for x in range(1, 69):
    try:
        url_tables = pd.read_html(browser.url, encoding= "utf-8")
        
        # Reference the first element of our list of dataframes
        Bio_df = url_tables[0]
        
        NHL_Bio_df = NHL_Bio_df.append(Bio_df, ignore_index=True)
        
        browser.click_link_by_partial_text("Next")
    except:
        pass

In [43]:
NHL_Bio_df.to_csv('../DataFrames/NHL_Bio.csv')

# NHL time on Ice Scraping Code(2018-2019)

In [21]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd


# Use the read_html function in Pandas to automatically scrape any tabular data from a page.
data_url = "http://www.espn.com/nhl/statistics/player/_/stat/timeonice/sort/avgTimeOnIce"

#using the pandas .read_html() method, we can convert the html tables found the page to pandas dataframes.
# Note the result of the .read_html() method is a list of dataframes pulled from the page
url_tables = pd.read_html(data_url, encoding= "utf-8")

# Reference the first element of our list of dataframes
NHL_Time_df = url_tables[0]


executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)


# URL of page to be scraped
url = 'http://www.espn.com/nhl/statistics/player/_/stat/timeonice/sort/avgTimeOnIce/count/41'


page_number = 41
# using the .visit() method tell the browser to visit the url
browser.visit(url)
for x in range(1, 25):
    try:
        url_tables = pd.read_html(browser.url, encoding= "utf-8")
        
        # Reference the first element of our list of dataframes
        Time_df = url_tables[0]
        
        NHL_Time_df = NHL_Time_df.append(Time_df, ignore_index=True)
        player_count += 40
        browser.visit("http://www.espn.com/nhl/statistics/player/_/stat/timeonice/sort/avgTimeOnIce/count/{}".format(player_count))
    except:
        pass

In [25]:
NHL_Time_df.head()

   0                1     2   3   4   5    6    7      8     9       10     11
0  RK           PLAYER  TEAM  GP   G   A  PTS  +/-  TOI/G  SHFT  SHFT/G   PROD
1   1    Ryan Suter, D   MIN  82   7  40   47   -8  26:42  2222    27.1  46:34
2   2  Drew Doughty, D    LA  82   8  37   45  -34  26:36  2393    29.2  48:27
3   3   Kris Letang, D   PIT  65  16  40   56   13  25:58  1923    29.6  30:07
4   4    Seth Jones, D   CBJ  75   9  37   46    1  25:49  2214    29.5  42:06

In [24]:
NHL_Time_df.to_csv("../DataFrames/NHL_Time_on_Ice_2019.csv")