In [1]:
import pandas as pd

In [2]:
# open csv
file1 = "NHL_Bio.csv"
BodstatNHLdf_18 = pd.read_csv(file1)
BodstatNHLdf_18.head()

,Unnamed: 0,Player,Team,Position,Height,Weight,Birthdate
0,0,NaN,FA,-,-,-,-
1,1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [3]:
#drop col"Unnamed"
BodstatNHLdf_18 = BodstatNHLdf_18.drop(['Unnamed: 0'], axis=1)
BodstatNHLdf_18.head()

,Player,Team,Position,Height,Weight,Birthdate
0,NaN,FA,-,-,-,-
1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [4]:
# rename columns
BodstatNHLdf_18 = BodstatNHLdf_18.rename(index=str, columns={"Player": "PLAYER","Team": "TEAM", "Position":"POSITION", "Height": "HEIGHT", "Weight":"WEIGHT", "Birthdate": "BIRTHDATE"})
BodstatNHLdf_18.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDATE
0,NaN,FA,-,-,-,-
1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [5]:
# new data frame with split value columns 
BodstatNHLdf_18["PLAYER1"], BodstatNHLdf_18["PLAYER2"] = BodstatNHLdf_18["PLAYER"].str.split("  ", 1).str 

BodstatNHLdf_18.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDATE,PLAYER1,PLAYER2
0,NaN,FA,-,-,-,-,NaN,NaN
1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987,"Abdelkader, Justin","Abdelkader, Justin"
2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993,"Aberg, Pontus","Aberg, Pontus"
3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998,"Abramov, Vitaly","Abramov, Vitaly"
4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991,"Acciari, Noel","Acciari, Noel"

In [6]:
# drop cols PLAYER and PLAYER2
BodstatNHLdf_18 = BodstatNHLdf_18.drop(['PLAYER', 'PLAYER2'], axis=1)

BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE             PLAYER1
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [7]:
# rename PLAYER1 col to PLAYER
BodstatNHLdf_18 = pd.DataFrame(BodstatNHLdf_18.rename(index=str, columns={"PLAYER1": "PLAYER"}))
# BodstatNHLdf_18 = BodstatNHLdf_18.iloc[1:]
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [8]:
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [9]:
# add/initialize AGE col in df
BodstatNHLdf_18["AGE"] = ""
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [10]:
# drop na in Birthday col
# BodstatNHLdf_18 = BodstatNHLdf_18.dropna(subset=['BIRTHDATE'])
# BodstatNHLdf_18 = BodstatNHLdf_18.dropna()
# BodstatNHLdf_18.head()

In [11]:
# dedup any replicated rows
BodstatNHLdf_18 = BodstatNHLdf_18.drop_duplicates(subset='PLAYER', keep='first', inplace=False)
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [12]:
# print (BodstatNHLdf_18['BIRTHDAY'].dtypes)

In [15]:
#  drop na in Birthday col
# BodstatNHLdf_18 = BodstatNHLdf_18.dropna(subset=['BIRTHDATE'])
BodstatNHLdf_18 = BodstatNHLdf_18.dropna()
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel
5   FA        -      -      -   4/11/2000      Addison, Calen

In [63]:
# BodstatNHLdf_18['BIRTHDAY'] = BodstatNHLdf_18['BIRTHDAY'].astype(str)
# print (BodstatNHLdf_18['BIRTHDAY'].dtypes)

In [16]:
# calculate age
import datetime as dt

now = dt.datetime.now()
for i in range(0, len(BodstatNHLdf_18)):
    diff = now - dt.datetime.strptime(BodstatNHLdf_18['BIRTHDATE'][i],'%m/%d/%Y')
    years = diff.days // 365
    days = diff.days - (years*365)
    BodstatNHLdf_18['AGE'][i] = years
BodstatNHLdf_18.head()

ValueError: time data '-' does not match format '%m/%d/%Y'

In [427]:
BodstatNHLdf_18['PLAYER'] = BodstatNHLdf_18['PLAYER'].str.replace(',', '')
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE             PLAYER AGE
1  DET       LW   6'2"    214   2/25/1987  Abdelkader Justin  32
2  MIN       LW  5'11"    196   9/23/1993       Aberg Pontus  25
3  OTT       RW   5'9"    171   5/08/1998     Abramov Vitaly  21
4  BOS        C  5'10"    205  12/01/1991       Acciari Noel  27
5   FA        -      -      -   4/11/2000      Addison Calen  19

In [428]:
# scrape players body stats 2018_2019

source = urllib.request.urlopen('https://www.foxsports.com/nhl/players?teamId=0&season=2017&position=0&country=0&grouping=0&weightclass=0&playerName=').read()
soup = BeautifulSoup(source, "html.parser")
table = soup.find_all('table', attrs={'class':'wisbb_standardTable'})

c=0
for tb in table:
#     print(tb)
    c=c+1
print(c)

first_table=table[0]

table_rows = first_table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
BodstatNHLdf_18 = pd.DataFrame(res)

1

In [429]:
BodstatNHLdf_17 = pd.DataFrame(res, columns=["PLAYER", "TEAM", "POSITION", "HEIGHT", "WEIGHT", "BIRTHDAY"])
BodstatNHLdf_17

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDAY
0,"Aaltonen, Miro\nAaltonen, Miro",TOR,C,"6'0""",176,6/07/1993
1,"Abbott, Spencer\nAbbott, Spencer",ANA,LW,"5'9""",170,4/30/1988
2,"Abdelkader, Justin\nAbdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
3,"Aberg, Pontus\nAberg, Pontus",EDM,LW,"5'11""",196,9/23/1993
4,"Abramov, Vitaly\nAbramov, Vitaly",CBJ,RW,"5'9""",171,5/08/1998
5,"Acciari, Noel\nAcciari, Noel",BOS,C,"5'10""",208,12/01/1991
6,"Acolatse, Sena\nAcolatse, Sena",FLA,D,"6'0""",210,11/28/1990
7,"Addison, Jeremiah\nAddison, Jeremiah",MTL,LW,"6'0""",188,10/21/1996
8,"Agostino, Kenny\nAgostino, Kenny",BOS,LW,"6'0""",202,4/30/1992
9,"Agozzino, Andrew\nAgozzino, Andrew",COL,LW,"5'10""",187,1/03/1991
10,"Aho, Sebastian\nAho, Sebastian",CAR,LW,"5'11""",172,7/26/1997
11,"Aho, Sebastian\nAho, Sebastian",NYI,D,"5'10""",170,2/17/1996
12,"Alain, Alexandre\nAlain, Alexandre",MTL,C,"6'1""",173,3/03/1997
13,"Albert, John\nAlbert, John",NYR,C,"5'11""",179,1/19/1989
14,"Allard, Frederic\nAllard, Frederic",NSH,D,"6'1""",179,12/27/1997
15,"Allen, Jake\nAllen, Jake",STL,G,"6'2""",203,8/07/1990
16,"Allen, Scott\nAllen, Scott",ARZ,LW,"6'3""",198,7/06/1990
17,"Alt, Mark\nAlt, Mark",COL,D,"6'4""",201,10/18/1991
18,"Alzner, Karl\nAlzner, Karl",MTL,D,"6'3""",217,9/24/1988
19,"Amadio, Michael\nAmadio, Michael",LA,C,"6'1""",204,5/13/1996
20,"Anas, Sam\nAnas, Sam",MIN,C,"5'8""",154,6/01/1993
21,"Andersen, Frederik\nAndersen, Frederik",TOR,G,"6'4""",230,10/02/1989
22,"Anderson, Craig\nAnderson, Craig",OTT,G,"6'2""",185,5/21/1981
23,"Anderson, Joey\nAnderson, Joey",NJ,RW,"5'11""",190,6/19/1998
24,"Anderson, Josh\nAnderson, Josh",CBJ,RW,"6'3""",221,5/07/1994

In [430]:
# new data frame with split value columns 

BodstatNHLdf_17["PLAYER1"], BodstatNHLdf_17["PLAYER2"] = BodstatNHLdf_17["PLAYER"].str.split("\n", 1).str 
BodstatNHLdf_17.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDAY,PLAYER1,PLAYER2
0,"Aaltonen, Miro\nAaltonen, Miro",TOR,C,"6'0""",176,6/07/1993,"Aaltonen, Miro","Aaltonen, Miro"
1,"Abbott, Spencer\nAbbott, Spencer",ANA,LW,"5'9""",170,4/30/1988,"Abbott, Spencer","Abbott, Spencer"
2,"Abdelkader, Justin\nAbdelkader, Justin",DET,LW,"6'2""",214,2/25/1987,"Abdelkader, Justin","Abdelkader, Justin"
3,"Aberg, Pontus\nAberg, Pontus",EDM,LW,"5'11""",196,9/23/1993,"Aberg, Pontus","Aberg, Pontus"
4,"Abramov, Vitaly\nAbramov, Vitaly",CBJ,RW,"5'9""",171,5/08/1998,"Abramov, Vitaly","Abramov, Vitaly"

In [298]:
BodstatNHLdf_17 = BodstatNHLdf_17.drop(['PLAYER', 'PLAYER2'], axis=1)
BodstatNHLdf_17.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDAY             PLAYER1
0  TOR        C   6'0"    176  6/07/1993      Aaltonen, Miro
1  ANA       LW   5'9"    170  4/30/1988     Abbott, Spencer
2  DET       LW   6'2"    214  2/25/1987  Abdelkader, Justin
3  EDM       LW  5'11"    196  9/23/1993       Aberg, Pontus
4  CBJ       RW   5'9"    171  5/08/1998     Abramov, Vitaly

In [299]:
BodstatNHLdf_17 = BodstatNHLdf_17.rename(index=str, columns={"PLAYER1": "PLAYER"})
BodstatNHLdf_17.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDAY              PLAYER
0  TOR        C   6'0"    176  6/07/1993      Aaltonen, Miro
1  ANA       LW   5'9"    170  4/30/1988     Abbott, Spencer
2  DET       LW   6'2"    214  2/25/1987  Abdelkader, Justin
3  EDM       LW  5'11"    196  9/23/1993       Aberg, Pontus
4  CBJ       RW   5'9"    171  5/08/1998     Abramov, Vitaly

In [300]:
BodstatNHLdf_17["AGE"] = ""
BodstatNHLdf_17.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDAY              PLAYER AGE
0  TOR        C   6'0"    176  6/07/1993      Aaltonen, Miro
1  ANA       LW   5'9"    170  4/30/1988     Abbott, Spencer
2  DET       LW   6'2"    214  2/25/1987  Abdelkader, Justin
3  EDM       LW  5'11"    196  9/23/1993       Aberg, Pontus
4  CBJ       RW   5'9"    171  5/08/1998     Abramov, Vitaly

In [301]:
BodstatNHLdf_17 = BodstatNHLdf_17.dropna(subset=['BIRTHDAY'])
BodstatNHLdf_17.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDAY              PLAYER AGE
0  TOR        C   6'0"    176  6/07/1993      Aaltonen, Miro
1  ANA       LW   5'9"    170  4/30/1988     Abbott, Spencer
2  DET       LW   6'2"    214  2/25/1987  Abdelkader, Justin
3  EDM       LW  5'11"    196  9/23/1993       Aberg, Pontus
4  CBJ       RW   5'9"    171  5/08/1998     Abramov, Vitaly

In [302]:
BodstatNHLdf_17 = BodstatNHLdf_17.drop_duplicates(subset='PLAYER', keep='first', inplace=False)
BodstatNHLdf_17.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDAY              PLAYER AGE
0  TOR        C   6'0"    176  6/07/1993      Aaltonen, Miro
1  ANA       LW   5'9"    170  4/30/1988     Abbott, Spencer
2  DET       LW   6'2"    214  2/25/1987  Abdelkader, Justin
3  EDM       LW  5'11"    196  9/23/1993       Aberg, Pontus
4  CBJ       RW   5'9"    171  5/08/1998     Abramov, Vitaly

In [303]:
# calculate players age
import datetime as dt

now = dt.datetime.now()
for i in range(0, len(BodstatNHLdf_17)):
    diff = now - dt.datetime.strptime(BodstatNHLdf_17['BIRTHDAY'][i],'%m/%d/%Y')
    years = diff.days // 365
    days = diff.days - (years*365)
    BodstatNHLdf_17['AGE'][i] = years
BodstatNHLdf_17

   TEAM POSITION HEIGHT WEIGHT    BIRTHDAY              PLAYER AGE
0   TOR        C   6'0"    176   6/07/1993      Aaltonen, Miro  26
1   ANA       LW   5'9"    170   4/30/1988     Abbott, Spencer  31
2   DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin  32
3   EDM       LW  5'11"    196   9/23/1993       Aberg, Pontus  25
4   CBJ       RW   5'9"    171   5/08/1998     Abramov, Vitaly  21
5   BOS        C  5'10"    208  12/01/1991       Acciari, Noel  27
6   FLA        D   6'0"    210  11/28/1990      Acolatse, Sena  28
7   MTL       LW   6'0"    188  10/21/1996   Addison, Jeremiah  22
8   BOS       LW   6'0"    202   4/30/1992     Agostino, Kenny  27
9   COL       LW  5'10"    187   1/03/1991    Agozzino, Andrew  28
10  CAR       LW  5'11"    172   7/26/1997      Aho, Sebastian  21
12  MTL        C   6'1"    173   3/03/1997    Alain, Alexandre  22
13  NYR        C  5'11"    179   1/19/1989        Albert, John  30
14  NSH        D   6'1"    179  12/27/1997    Allard, Frederic  21
15  STL        G   6'2"    203   8/07/1990         Allen, Jake  28
16  ARZ       LW   6'3"    198   7/06/1990        Allen, Scott  28
17  COL        D   6'4"    201  10/18/1991           Alt, Mark  27
18  MTL        D   6'3"    217   9/24/1988        Alzner, Karl  30
19   LA        C   6'1"    204   5/13/1996     Amadio, Michael  23
20  MIN        C   5'8"    154   6/01/1993           Anas, Sam  26
21  TOR        G   6'4"    230  10/02/1989  Andersen, Frederik  29
22  OTT        G   6'2"    185   5/21/1981     Anderson, Craig  38
23   NJ       RW  5'11"    190   6/19/1998      Anderson, Joey  21
24  CBJ       RW   6'3"    221   5/07/1994      Anderson, Josh  25

In [304]:
BodstatNHLdf_17['PLAYER'] = BodstatNHLdf_17['PLAYER'].str.replace(',', '')
BodstatNHLdf_17.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDAY             PLAYER AGE
0  TOR        C   6'0"    176  6/07/1993      Aaltonen Miro  26
1  ANA       LW   5'9"    170  4/30/1988     Abbott Spencer  31
2  DET       LW   6'2"    214  2/25/1987  Abdelkader Justin  32
3  EDM       LW  5'11"    196  9/23/1993       Aberg Pontus  25
4  CBJ       RW   5'9"    171  5/08/1998     Abramov Vitaly  21

In [305]:
#write into csv file
BodstatNHLdf_17.to_csv('NHLBodstat_17.csv', index=True, header=True)
BodstatNHLdf_18.to_csv('NHLBodstat_18.csv', index=True, header=True)