In [28]:
import pandas as pd
import urllib.request

from bs4 import BeautifulSoup

In [29]:
# scrape players body stats 2018

source = urllib.request.urlopen('https://www.foxsports.com/nhl/players?teamId=0&season=2018&position=0&country=0&grouping=0&weightclass=0&playerName=').read()
soup = BeautifulSoup(source, "html.parser")
table = soup.find_all('table', attrs={'class':'wisbb_standardTable'})

In [30]:
c=0
for tb in table:
#     print(tb)
    c=c+1
print(c)

1

In [31]:
first_table=table[0]

table_rows = first_table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
BodstatNHLdf_18 = pd.DataFrame(res)

# print(df_1819.count)

In [32]:
BodstatNHLdf_18 = pd.DataFrame(res, columns=["PLAYER", "TEAM", "POSITION", "HEIGHT", "WEIGHT", "BIRTHDAY"])
BodstatNHLdf_18.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDAY
0,FA,-,-,-,-,None
1,"Abdelkader, Justin\nAbdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,"Aberg, Pontus\nAberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,"Abramov, Vitaly\nAbramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,"Acciari, Noel\nAcciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [37]:
# new data frame with split value columns 
BodstatNHLdf_18["PLAYER"]= BodstatNHLdf_18["PLAYER"].str.split("t", n = 1, expand = True) 
BodstatNHLdf_18.head()

            PLAYER TEAM POSITION HEIGHT WEIGHT   BIRTHDAY
0              Aal  TOR        C   6'0"    176  6/07/1993
1             Abbo  ANA       LW   5'9"    170  4/30/1988
2  Abdelkader, Jus  DET       LW   6'2"    214  2/25/1987
3       Aberg, Pon  EDM       LW  5'11"    196  9/23/1993
4      Abramov, Vi  CBJ       RW   5'9"    171  5/08/1998

In [38]:
# scrape players body stats 2018_2019

source = urllib.request.urlopen('https://www.foxsports.com/nhl/players?teamId=0&season=2017&position=0&country=0&grouping=0&weightclass=0&playerName=').read()
soup = BeautifulSoup(source, "html.parser")
table = soup.find_all('table', attrs={'class':'wisbb_standardTable'})

c=0
for tb in table:
#     print(tb)
    c=c+1
print(c)

first_table=table[0]

table_rows = first_table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
BodstatNHLdf_18 = pd.DataFrame(res)

1

In [39]:
BodstatNHLdf_17 = pd.DataFrame(res, columns=["PLAYER", "TEAM", "POSITION", "HEIGHT", "WEIGHT", "BIRTHDAY"])
BodstatNHLdf_17.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDAY
0,"Aaltonen, Miro\nAaltonen, Miro",TOR,C,"6'0""",176,6/07/1993
1,"Abbott, Spencer\nAbbott, Spencer",ANA,LW,"5'9""",170,4/30/1988
2,"Abdelkader, Justin\nAbdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
3,"Aberg, Pontus\nAberg, Pontus",EDM,LW,"5'11""",196,9/23/1993
4,"Abramov, Vitaly\nAbramov, Vitaly",CBJ,RW,"5'9""",171,5/08/1998

In [41]:
# new data frame with split value columns 
BodstatNHLdf_17["PLAYER"]= BodstatNHLdf_17["PLAYER"].str.split("t", n = 1, expand = True) 
BodstatNHLdf_17.head()

            PLAYER TEAM POSITION HEIGHT WEIGHT   BIRTHDAY
0              Aal  TOR        C   6'0"    176  6/07/1993
1             Abbo  ANA       LW   5'9"    170  4/30/1988
2  Abdelkader, Jus  DET       LW   6'2"    214  2/25/1987
3       Aberg, Pon  EDM       LW  5'11"    196  9/23/1993
4      Abramov, Vi  CBJ       RW   5'9"    171  5/08/1998